@import "../variable.module.scss";

.button {
  color: $primary-color;
  font-size: 16px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  label {
    cursor: pointer;
    margin: 0;
  }
  &.disable {
    cursor: not-allowed;
    border-color: $gray-color;
    color: $gray-color;
    label {
      cursor: not-allowed;
    }
  }
}
.button:hover {
  background-color: $primary-color;
  color: $light-color;
  &.disable {
    cursor: not-allowed;
    border-color: $gray-color;
    color: $gray-color;
    background-color: $gray-color;
    label {
      cursor: not-allowed;
    }
  }
}
