@import "./variable.module.scss";

.container {
  background-color: $gray-background;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    .title {
      font-size: 32px;
      font-weight: 500;
      color: $title-font;
    }
  }
  .contentContainer {
    padding: 0 25px;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 90px;
  }
  .footer {
    position: fixed;
    background-color: $gray-background;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }
}