$primary-color: #024e74;
$secondary-color: #ebf8fe;
$Accent-color: #15bebf;
$error-color: #d40300;
$warning-color: #ffbc10;
$dark-color: #23292b;
$gray-color: #00000012;

//card
$light-color: #fdfdfd;
$border-color: #E3E1E5;

$title-font: #363545;
$gray-background: #F6F6F7;
